.container {
  padding-top: 130px;

  @media only screen and (max-width: 767px) {
    padding-top: 90px;
  }

  .container-title {
    .portfolio-title {
      &:before {
        background: var(--theme-light-blue);
        position  : absolute;
      }

      &::first-letter {
        color      : var(--theme-light-blue);
        font-weight: bolder;
      }
    }
  }

  .container-photo {
    blockquote {
      p {
        font-size: 12pt;
      }
    }

    img {
      border-radius: 50%;
      width        : 200px;
      height       : 200px;
      padding      : 5px;
      border       : 1px solid rgba(0, 0, 0, 0.30);
    }
  }

  .container-description {

    .item {
      min-height: 200px;
      font-size : 11pt;

      @media only screen and (max-width: 991px) {
        border: 1px solid rgba(0, 0, 0, 0.40);
      }

      @media only screen and (max-width: 767px) {
        animation: none;
      }
    }

    .item:nth-of-type(1) {
      background: var(--theme-navy-blue);
      color     : #FFF;
    }

    .item:nth-of-type(2) {
      background: var(--theme-blue);
      color     : #FFF;
    }

    .item:nth-of-type(3) {
      background: var(--theme-light-blue);
      font-weight: bolder;
    }

    .item:nth-of-type(4) {
      background: var(--theme-pink);
      font-weight: bolder;
    }
  }
}