<!-- <div class="container mt-40">
  <div class="w-25 w-100-xl p-relative d-inline-block txt-center">
    <h2 class="mt-0-xl p-relative p-0 m-0 mt-20 title txt-left">about</h2>
    <img class="mt-80" src="assets/img/about.jpg" />

    <div class="container-ladder p-relative">
      <div *ngFor="let item of [].constructor(6); let i = index"
        [ngStyle]="{'left.px': i * 50, 'top.px' : (i * -30)}" class="ladder p-relative"></div>
    </div>
  </div>

  <div class="w-75 w-100-xl d-inline-block">
    <p class="m-0 p-0 txt-center d-inline-block p-absolute" *ngFor="let item of about">{{ item.description }}</p>
  </div>
</div> -->

<div class="container">

  <div class="container-title">
    <h2 class="title">about</h2>
  </div>

  <div class="container-photo">
    <img class="mt-80" src="assets/img/about.jpg" />
  </div>

  <div class="container-description">

  </div>
</div>