<div class="container mt-40">
  <div class="w-25 p-relative d-inline-block txt-center">
    <h3 class="p-relative p-0 m-0 mt-20 title">about</h3>
    <img class="mt-80" src="assets/img/about.jpg" />
  </div>

  <div class="w-75 d-inline-block">

    <p class="m-0 p-0 txt-center d-inline-block p-absolute">Desenvolvedor com mais de 5 anos de experiência, graduado
      pelo Senac SP e com sólidos conhecimentos nas tecnologias atuais do mercado.</p>

    <p class="m-0 p-0 txt-center d-inline-block p-absolute">Expert no framework Angular, o qual já desenvolvi muitos
      sites e
      sistemas internos. </p>

      <p class="m-0 p-0 txt-center d-inline-block p-absolute">
      Alguns de meus hobbies são desenhar mangás, viajar e jogos de raciocínio lógico.</p>

    <p class="m-0 p-0 txt-center d-inline-block p-absolute">No momento me dedico no inglês e me aperfeiço em cursos
      relacionados da área.
      Meu próximo objetivo é fazer uma pós-graduação em Big Data ou Inteligência Artificial.</p>
  </div>
</div>