.container-languages {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  animation: 600ms multiple-opacities;
  opacity: 1;

  @media only screen and (max-width: 767px) {
    display: none;
  }

  img {
    width: 30px;
    border: 1px solid rgba(0, 0, 0, 0.14);

    @media only screen and (max-width: 767px) {
      width: 50px;
    }
  }

  &.openedMenu{
    display:block;
    opacity: 1;
  }

  &.opacity{
    opacity: 0;
    transition: opacity 600ms ease;
  }
}