.container-modal {
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  top: 0;
  color: #FFF;

  .container-close {
    right: 10px;
    top: 5px;
    z-index: 1;

    i {
      font-size: 30pt;
      cursor: pointer;
    }
  }

  .container-warning {
    display: none;

    @media only screen and (max-width: 600px) {
      display: block;
    }

    label {
      font-size: 15pt;
    }
  }

  .container-elements {
    height: 90%;

    .container-img {
      img {
        max-width: 85%;
        max-height:90%;
        animation: 600ms multiple-opacities-on;

        &.opacity-effect-before{
          opacity: 0;
          animation: 600ms multiple-opacities-on;
        }

        &.opacity-effect-after{
          opacity: 1;
          animation: 600ms multiple-opacities-on;
        }
      }
    }

    .container-arrow {
      i {
        font-size: 40pt;
        cursor: pointer;

        @media only screen and (max-width: 767px) {
          font-size: 20pt;
        }
      }
    }
  }

  .container-quantity {
    height: 10%;
  }

}
