<nav class="pt-20 pb-20 d-flex p-fixed w-100">
  <div class="container d-flex w-100">
    <div class="d-flex">
      <a href="./">
        <img src="./assets/img/logo.png" />
      </a>
    </div>

    <div class="icon-mobile text-right p-fixed">
      <i *ngIf="isMenuOpen === false" (click)="isMenuOpen = true" class="icon-reorder"></i>
      <i *ngIf="isMenuOpen === true" (click)="isMenuOpen = false" class="icon-remove"></i>
    </div>

    <div class="d-flex" [ngClass]="{'isMenuOpen': isMenuOpen}">
      <ul class="list-inline">
        <li *ngFor="let item of navbar">
          <a class="ml-40 txt-decoration-none" [href]="item.link" [target]="item.target">{{ item.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>