@import "./../assets/style/palette.scss";

.container-fluid {
  z-index      : 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  background   : #FFF;

  .container {
    img {
      width: 150px;
    }
  }
}