nav {
  position: fixed;
  top: 0;
  display: flex;
  background: #FFF;

  a {
    text-decoration: none;
    color: #006ca5;

    &:hover {
      color: #00277a;
      transition: linear 0.4s;
    }
  }
}

nav:first-child {
  width: 50px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  a {
    display: block;
    font-size: 23px;
    margin-bottom: 20px;
  }

}

nav:last-child {
  width: 100%;
  height: 70px;

  >div {
    flex-grow: 1;
    display: flex;
  }

  .logo {
    align-items: flex-start;
    align-items: center;

    img {
      width: 150px;
      margin-left: 80px;
    }
  }

  .links {
    justify-content: flex-end;
    align-items: center;

    a {
      margin: 0 25px;
      text-transform: capitalize;
    }
  }
}