<nav class="container-fluid pt-3 pb-3 position-fixed">
  <div class="container">
    <div class="row position-relative d-md-flex align-items-stretch">
      
      <div class="container-logo col-4">
        <a href="./">
          <img src="./assets/img/logo.png" />
        </a>
      </div>

      <ul [ngClass]="{'menuOpened': menuOpened}"
        class="m-0 container-items col-12 col-sm-12 col-md-8 d-md-flex align-items-center justify-content-end">
        <li class="d-md-inline d-sm-block ml-md-3 text-sm-center" *ngFor="let item of navbar">
          <a class="pt-sm-4 pb-sm-4 text-decoration-none p-md-2" [href]="item.link"
            [target]="item.target">{{ item.name }}</a>
        </li>
      </ul>

      <div class="container-icons d-md-none position-absolute d-flex align-items-center">
        <i *ngIf="menuOpened === false" (click)="menuOpened = true" class="icon-reorder"></i>
        <i *ngIf="menuOpened === true" (click)="menuOpened = false" class="icon-remove"></i>
      </div>

    </div>
  </div>
</nav>