div.container-fluid {
  background: #FFF;
  z-index: 1;
  top:0; 
  
  nav {
    top: 0;

    div:first-child {
      img {
        width: 150px;
      }
    }

    div:last-child {
      a {
        text-decoration: none;
        color: #006ca5;

        &:hover {
          color: #00277a;
          transition: linear 0.4s;
        }
      }
    }
  }
}