@import "./../assets/style/palette.scss";

app-container-geometric {
  margin-top: 80px;

  .container {

    .container-title {
      .portfolio-title {
        &:before {
          background: palette-color('primary', '4');
          position: absolute;
        }

        &::first-letter {
          color: palette-color('primary', '4');
        }
      }
    }

    .container-skills {
      .row {
        div {
          padding-right: 0 !important;
          padding-left: 0 !important;

          h3 {
            font-size: 18pt;
          }

          ul {
            font-size: 12pt;
            list-style: none;
            border-left: 3px solid rgba(255, 255, 255, 0.25);
          }
        }
      }
    }

  }
}