<app-scroll-point [id]="'technologies'"></app-scroll-point>
<app-container-fluid class="d-block">
  Technologies - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut nibh diam. Proin a nisl ac est
  scelerisque
  aliquet ut id enim. Nam vel tortor lorem. Phasellus scelerisque libero ac imperdiet fermentum. Vestibulum malesuada
  urna id nisl vulputate dictum. Cras auctor turpis ac turpis dignissim gravida. Praesent tempor malesuada vulputate.
  Proin pellentesque volutpat dui ullamcorper blandit. Aenean vel interdum urna, non ultricies lectus.

  Aenean consectetur aliquam risus, et ultricies elit viverra quis. Quisque sollicitudin laoreet nulla congue feugiat.
  Cras sed quam enim. Integer malesuada urna a quam maximus, at tristique turpis sagittis. Duis nec condimentum neque,
  sit amet faucibus sapien. Aliquam ut laoreet purus, in commodo diam. Donec ultricies ex non nunc venenatis, quis
  posuere mauris tincidunt. Suspendisse potenti. Curabitur volutpat scelerisque rhoncus. Curabitur id massa non est
  placerat efficitur. Nulla lobortis nisl orci, sit amet blandit neque tincidunt id. Nullam eget magna sit amet nisl
  hendrerit tempus quis eget nibh. Cras dictum, ipsum quis vulputate faucibus, ligula tortor sollicitudin nisl, et
  varius purus ante id magna. Proin at purus malesuada, luctus metus eget, vehicula dui. Etiam tincidunt mattis urna,
  nec semper nulla suscipit vitae. Duis a risus posuere, fringilla nunc sollicitudin, vehicula nibh.
</app-container-fluid>