<div class="container mt-4">

  <div class="container-title col-12 mt-3 mt-md-5 mb-5 pt-5 pb-3">
    <h2 class="portfolio-title position-relative">portfolio</h2>
  </div>

  <div class="container-projects col-12">
    <div class="row d-lg-flex align-items-md-center justify-content-md-between">
      <div class="col-lg-5 col-12 mb-5 pb-5" *ngFor="let projeto of portfolio">
        <img class="pb-4 img-fluid" src="{{ projeto.galerias[0].url_galeria }}" />
        <label class="d-block font-weight-bolder text-center">Imagem 1 de {{ projeto.galerias.length }}</label>
      </div>
    </div>
  </div>

</div>