@import "./../assets/style/palette.scss";

.container {
  h2.title {
    &:before {
      background: palette-color('primary', '3');
    }
  }

  >div {
    label {
      font-size : 10pt;
      margin-top: 10px;
    }

    img {
      border-bottom: 4px solid palette-color('primary', '2');
    }
  }
}