@import "./../assets/style/palette.scss";

.container {
  .container-title {
    .portfolio-title {
      &:before {
        background: palette-color('primary', '3');
        position: absolute;
      }

      &::first-letter {
        color: palette-color('primary', '3');
        font-weight: bolder;
      }
    }
  }
}


img {
      border-bottom: 4px solid palette-color('primary', '2');
    }