.container-loader {
  background: #FFF;
  align-items    : center;
  justify-content: center;
  display        : flex;
  top:0;
  z-index: 99;

  div {
    img,
    label {
      display       : flex;
      flex-direction: column;
    }

    label {
      bottom   : 60px;
      font-size: 20pt;
    }
  }

}