* {
  font-family: 'inter';
  outline: none;
}

html,
body {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

.portfolio-title {
  font-size: 30pt;
  text-transform: lowercase;

  @media only screen and (max-width: 767px) {
    font-size: 25pt;
  }

  &:before {
    content: '';
    width: 30px;
    height: 5px;
    position: absolute;
    bottom: -10px;
  }
}

@keyframes multiple-opacities-on {
  0%   {opacity: 0}
  25%  {opacity: 0.25}
  50%  {opacity: 0.50}
  75%  {opacity: 0.75}
  100% {opacity: 1}
}

@keyframes multiple-opacities-off {
  0%   {opacity: 1}
  25%  {opacity: 0.75}
  50%  {opacity: 0.50}
  75%  {opacity: 0.25}
  100% {opacity: 0}
}