@font-face {
  font-family: 'inter';
  src:
    url('./assets/font/inter/inter-regular.woff') format('woff'),
    url('./assets/font/inter/inter-regular.woff2') format('woff2'),
    url('./assets/font/inter/inter-regular.eot') format('eot'),
    url('./assets/font/inter/inter-regular.otf') format('otf'),
    url('./assets/font/inter/inter-regular.ttf') format('ttf');
}

@font-face {
  font-family: 'roboto-condensed';
  src:
    url('./assets/font/roboto/robotocondensed.woff') format('woff'),
    url('./assets/font/roboto/robotocondensed.woff2') format('woff2'),
    url('./assets/font/roboto/robotocondensed.eot') format('eot'),
    url('./assets/font/roboto/robotocondensed.otf') format('otf'),
    url('./assets/font/roboto/robotocondensed.ttf') format('ttf');
}

* {
  font-family: 'inter';
  outline: none;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
