<app-container-geometric class="d-block p-relative" [backgroundColor]="3" color="#000">

  <img class="p-absolute mt-40" src="./assets/img/tree-branch.png" />

  <div class="container pb-60">
    <h2 class="title m-0 p-0 d-block txt-center p-relative mb-100">contact</h2>

    <div class="container-fluid">
      <div class="w-50 w-100-xl d-inline-block">
        <div class="container-mail">
          <a class="txt-decoration-none" href="mailto:dustanisci@outlook.com">dustanisci@outlook.com</a>
        </div>

        <div class="container-social mt-40">
          <a href="https://www.linkedin.com/in/dustanisci/" target="_blank" class="d-inline-block txt-decoration-none">
            <i class="d-flex icon-linkedin"></i>
          </a>
          <a href="https://github.com/dustanisci" target="_blank" class="d-inline-block txt-decoration-none">
            <i class="icon-github-alt"></i>
          </a>
        </div>
      </div>

      <div class="container-img w-50 w-100-xl d-inline-block">
        <img src="./assets/img/chamaleon2.png" />
      </div>
    </div>
  </div>
</app-container-geometric>