<app-scroll-point [id]="'contact'"></app-scroll-point>
<app-container-fluid class="d-block">

  <form>
    <img src="assets/img/envelope-top.png" />
    <div class="envelope-card">
      <label>Olá Eduardo, meu nome é</label>
      <input type="text">

      <label>Meu e-mail é</label>
      <input type="text">

      <label>Estou entrando em contato sobre</label>
      <textarea></textarea>
    <img src="" />
    </div>
    <img src="assets/img/envelope-bottom.png" />
  </form>

</app-container-fluid>