<app-scroll-point [id]="'contact'"></app-scroll-point>
<app-container-fluid class="d-block">

  <form [formGroup]="formContact" *ngIf="!goback">
    <img [ngClass]="sendEnvelope ? 'hidden' : 'visibility'" class="open-envelope position-relative d-block"
      src="assets/img/open-envelope.png" />
    <img [ngClass]="sendEnvelope ? 'visibility' : 'hidden'" src="assets/img/close-envelope.png"
      class="close-envelope position-absolute d-block" />
    <div [ngClass]="sendEnvelope ? 'hidden' : 'visibility'" class="envelope-card position-absolute">
      <div class="d-block mb-4 line" *ngFor="let label of labels(13)"></div>

      <label class="position-absolute l-name">Olá Eduardo, meu nome é </label>
      <input formControlName="name" class="i-name position-absolute" maxlength="18"
        [ngClass]="formContact.get('name').value ? 'transparent' : 'required'">

      <label class="position-absolute l-email">Meu e-mail é </label>
      <input formControlName="email" class="i-email position-absolute" maxlength="28"
        [ngClass]="formContact.get('email').value ? 'transparent' : 'required'" />

      <label class="position-absolute l-description">Estou entrando em contato sobre: </label>
      <textarea formControlName="description" class="t-description position-absolute" maxlength="220"
        [ngClass]="formContact.get('description').value ? 'transparent' : 'required'"></textarea>
    </div>
    <img class="position-relative d-block envelope" src="assets/img/envelope.png" />
    <button [ngClass]="sendEnvelope ? 'hidden' : 'visibility'"
      class="btn btn-warning position-relative d-block text-uppercase" (click)="send()">Postar</button>
  </form>

</app-container-fluid>